<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Daha Fazlası</span> <span class="description-title">Hakkımızda</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="/Yummy/assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezervasyon İcin Arayın</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Lezzetli anlar, güzel sofralarda başlar...
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Güvenli ödeme altyapımız.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>7/24 müşteri destek hattımız.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Sürekli güncellenen içeriklerimizle sizlere en iyi hizmeti sunmak için buradayız.</span></li>
                    </ul>
                    <p>
                        Güvenli rezervasyon sistemi, kullanıcı yorumları ve güncel restoran bilgileriyle karar verme sürecinizi kolaylaştırıyoruz. Her zevke ve bütçeye uygun mekanları tek bir çatı altında topluyor, lezzetli deneyimlerinizin ilk adımını atmanızı sağlıyoruz.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="/Yummy/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->
