
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"> 
@await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultComponentPartial")

    <main class="main">

        <!-- Hero Section -->
        @await Component.InvokeAsync("_HeroDefaultComponentPartial")
        <!-- /Hero Section -->

        <!-- About Section -->
        @await Component.InvokeAsync("_AboutDefaultComponentPartial")
        <!-- /About Section -->

        <!-- Why Us Section -->
        @await Component.InvokeAsync("_WhyUsDefaultComponentPartial")
        <!-- /Why Us Section -->

        <!-- Stats Section -->
        @await Component.InvokeAsync("_StatsDefaultComponentPartial")
        <!-- /Stats Section -->

        <!-- Menu Section -->
        @await Component.InvokeAsync("_MenuDefaultComponentPartial")        
        <!-- /Menu Section 

        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_TestimonialDefaultComponentPartial")
        <!-- /Testimonials Section -->

        <!-- Events Section -->
        @await Component.InvokeAsync("_EventDefaultComponentPartial")        
        <!-- /Events Section -->

        <!-- Chefs Section -->
        @await Component.InvokeAsync("_ChefsDefaultComponentPartial")
        <!-- /Chefs Section -->

        <!-- Book A Table Section -->
        @await Component.InvokeAsync("_BookATableDefaultComponentPartial")
        <!-- /Book A Table Section -->

        <!-- Gallery Section -->
        @await Component.InvokeAsync("_GalleryDefaultComponentPartial")
        <!-- /Gallery Section -->

        <!-- Contact Section -->
        @await Component.InvokeAsync("_ContactDefaultComponentPartial")
        <!-- /Contact Section -->

    </main>

    <!-- Footer Section -->
    @await Component.InvokeAsync("_FooterDefaultComponentPartial")
    <!-- /Footer Section -->
    

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/Yummy/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Yummy/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Yummy/assets/vendor/aos/aos.js"></script>
    <script src="/Yummy/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Yummy/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/Yummy/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="/Yummy/assets/js/main.js"></script>

</body>

</html>