<section id="events" class="events section">

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": 1
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/Yummy/assets/img/events-1.jpg)">
                    <h3>Kostüm Partisi</h3>
                    <div class="price align-self-start">$99</div>
                    <p class="description">
                        Size özel parti konseptleriyle her detay özenle hazırlanır. İster temalı ister sade, tam hayalinizdeki gibi bir organizasyon sunuyoruz.
                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/Yummy/assets/img/events-2.jpg)">
                    <h3>özel partiler</h3>
                    <div class="price align-self-start">$289</div>
                    <p class="description">
                        Özel anlarınızı sevdiklerinizle paylaşın. Sadece size özel alanlar ve kişiselleştirilmiş hizmet ile unutulmaz bir deneyim yaşayın.
                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/Yummy/assets/img/events-3.jpg)">
                    <h3>Doğum Günü Partisi</h3>
                    <div class="price align-self-start">$499</div>
                    <p class="description">
                        Doğum günleri bizimle daha eğlenceli! Lezzetli menüler, renkli süslemeler ve bolca eğlence ile kutlamanızı taçlandırıyoruz.
                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/Yummy/assets/img/events-4.jpg)">
                    <h3>Evlilik Partisi Parties</h3>
                    <div class="price align-self-start">$899</div>
                    <p class="description">
                        Hayalinizdeki düğünü gerçeğe dönüştürüyoruz! Şık dekorasyon, özel menüler ve unutulmaz anlarla en özel gününüzü mükemmel kılıyoruz.
                    </p>
                </div><!-- End Event item -->

            </div>

            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>